<footer class="bg-gray-500 text-white px-6 py-6 mt-12  bottom-0 w-full">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-6">
 
    <div class="flex items-center gap-4">
      <img src="assets/l1bg.png" alt="Logo" class="h-20 w-auto" />
      <div class="text-left">
        <h2 class="text-xl font-bold">Believe Sports</h2>
        <p class="text-sm">&copy; 2025. All rights reserved.</p>
      </div>
    </div>


    <div class="text-center md:text-left">
      <p class="text-sm">
        📞 <span class="font-medium">Contact:</span>
        <a
          href="tel:+918291552929"
          class="underline hover:text-gray-200 transition"
          style="text-decoration: none"
        >
          +91 82915 52929
        </a>
      </p>
    </div>

    <div class="flex items-center gap-2">
      <a
        href="https://www.instagram.com/believe3110/"
        target="_blank"
        class="hover:opacity-80 transition"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/174/174855.png"
          alt="Instagram"
          class="h-8 w-8"
        />
      </a>
    </div>
  </div>
</footer>
